{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": 0,
		"new-cap": [2, {
			"capIsNewExceptions": [
				"RequireObjectCoercible",
				"GetIntrinsic",
				"GetSetRecord",
				"GetIteratorFromMethod",
				"IteratorStepValue",
				"SetDataHas",

				// GetSetRecord
				"IsCallable",
				"ToIntegerOrInfinity",
				"Get",
				"ToNumber",
				"Type",
				"Type",
				"Call",
				"Get",
				"IsCallable",
			],
		}],
		"object-curly-newline": "off",
		"sort-keys": "off",
	},

	"overrides": [
		{
			"files": "test/**/*",
			"rules": {
				"max-lines-per-function": 0,
				"max-params": 0,
			},
		},
	],
}
